/*
Emby Server REST API (BETA)

Explore the Emby Server API

API version: 4.8.0.61
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package embyclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// ImageServiceAPIService ImageServiceAPI service
type ImageServiceAPIService service

type ImageServiceAPIDeleteItemsByIdImagesByTypeRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	id string
	type_ ModelImageType
	index *int32
}

// Image Index
func (r ImageServiceAPIDeleteItemsByIdImagesByTypeRequest) Index(index int32) ImageServiceAPIDeleteItemsByIdImagesByTypeRequest {
	r.index = &index
	return r
}

func (r ImageServiceAPIDeleteItemsByIdImagesByTypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteItemsByIdImagesByTypeExecute(r)
}

/*
DeleteItemsByIdImagesByType Method for DeleteItemsByIdImagesByType

Requires authentication as administrator

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Item Id
 @param type_ Image Type
 @return ImageServiceAPIDeleteItemsByIdImagesByTypeRequest
*/
func (a *ImageServiceAPIService) DeleteItemsByIdImagesByType(ctx context.Context, id string, type_ ModelImageType) ImageServiceAPIDeleteItemsByIdImagesByTypeRequest {
	return ImageServiceAPIDeleteItemsByIdImagesByTypeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		type_: type_,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) DeleteItemsByIdImagesByTypeExecute(r ImageServiceAPIDeleteItemsByIdImagesByTypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.DeleteItemsByIdImagesByType")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Items/{Id}/Images/{Type}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.index != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Index", r.index, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIDeleteItemsByIdImagesByTypeByIndexRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	id string
	type_ ModelImageType
	index int32
}

func (r ImageServiceAPIDeleteItemsByIdImagesByTypeByIndexRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteItemsByIdImagesByTypeByIndexExecute(r)
}

/*
DeleteItemsByIdImagesByTypeByIndex Method for DeleteItemsByIdImagesByTypeByIndex

Requires authentication as administrator

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Item Id
 @param type_ Image Type
 @param index Image Index
 @return ImageServiceAPIDeleteItemsByIdImagesByTypeByIndexRequest
*/
func (a *ImageServiceAPIService) DeleteItemsByIdImagesByTypeByIndex(ctx context.Context, id string, type_ ModelImageType, index int32) ImageServiceAPIDeleteItemsByIdImagesByTypeByIndexRequest {
	return ImageServiceAPIDeleteItemsByIdImagesByTypeByIndexRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		type_: type_,
		index: index,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) DeleteItemsByIdImagesByTypeByIndexExecute(r ImageServiceAPIDeleteItemsByIdImagesByTypeByIndexRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.DeleteItemsByIdImagesByTypeByIndex")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Items/{Id}/Images/{Type}/{Index}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Index"+"}", url.PathEscape(parameterValueToString(r.index, "index")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIDeleteUsersByIdImagesByTypeRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	id string
	type_ ModelImageType
	index *int32
}

// Image Index
func (r ImageServiceAPIDeleteUsersByIdImagesByTypeRequest) Index(index int32) ImageServiceAPIDeleteUsersByIdImagesByTypeRequest {
	r.index = &index
	return r
}

func (r ImageServiceAPIDeleteUsersByIdImagesByTypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteUsersByIdImagesByTypeExecute(r)
}

/*
DeleteUsersByIdImagesByType Method for DeleteUsersByIdImagesByType

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id User Id
 @param type_ Image Type
 @return ImageServiceAPIDeleteUsersByIdImagesByTypeRequest
*/
func (a *ImageServiceAPIService) DeleteUsersByIdImagesByType(ctx context.Context, id string, type_ ModelImageType) ImageServiceAPIDeleteUsersByIdImagesByTypeRequest {
	return ImageServiceAPIDeleteUsersByIdImagesByTypeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		type_: type_,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) DeleteUsersByIdImagesByTypeExecute(r ImageServiceAPIDeleteUsersByIdImagesByTypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.DeleteUsersByIdImagesByType")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Users/{Id}/Images/{Type}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.index != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Index", r.index, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIDeleteUsersByIdImagesByTypeByIndexRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	id string
	type_ ModelImageType
	index int32
}

func (r ImageServiceAPIDeleteUsersByIdImagesByTypeByIndexRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteUsersByIdImagesByTypeByIndexExecute(r)
}

/*
DeleteUsersByIdImagesByTypeByIndex Method for DeleteUsersByIdImagesByTypeByIndex

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id User Id
 @param type_ Image Type
 @param index Image Index
 @return ImageServiceAPIDeleteUsersByIdImagesByTypeByIndexRequest
*/
func (a *ImageServiceAPIService) DeleteUsersByIdImagesByTypeByIndex(ctx context.Context, id string, type_ ModelImageType, index int32) ImageServiceAPIDeleteUsersByIdImagesByTypeByIndexRequest {
	return ImageServiceAPIDeleteUsersByIdImagesByTypeByIndexRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		type_: type_,
		index: index,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) DeleteUsersByIdImagesByTypeByIndexExecute(r ImageServiceAPIDeleteUsersByIdImagesByTypeByIndexRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.DeleteUsersByIdImagesByTypeByIndex")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Users/{Id}/Images/{Type}/{Index}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Index"+"}", url.PathEscape(parameterValueToString(r.index, "index")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIGetArtistsByNameImagesByTypeRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	name string
	type_ ModelImageType
	maxWidth *int32
	maxHeight *int32
	width *int32
	height *int32
	quality *int32
	tag *string
	cropWhitespace *bool
	enableImageEnhancers *bool
	format *string
	backgroundColor *string
	foregroundLayer *string
	autoOrient *bool
	keepAnimation *bool
	index *int32
}

// The maximum image width to return.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) MaxWidth(maxWidth int32) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.maxWidth = &maxWidth
	return r
}

// The maximum image height to return.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) MaxHeight(maxHeight int32) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.maxHeight = &maxHeight
	return r
}

// The fixed image width to return.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) Width(width int32) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.width = &width
	return r
}

// The fixed image height to return.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) Height(height int32) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.height = &height
	return r
}

// Optional quality setting, from 0-100. Defaults to 90 and should suffice in most cases.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) Quality(quality int32) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.quality = &quality
	return r
}

// Optional. Supply the cache tag from the item object to receive strong caching headers.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) Tag(tag string) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.tag = &tag
	return r
}

// Specify if whitespace should be cropped out of the image. True/False. If unspecified, whitespace will be cropped from logos and clear art.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) CropWhitespace(cropWhitespace bool) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.cropWhitespace = &cropWhitespace
	return r
}

// Enable or disable image enhancers such as cover art.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) EnableImageEnhancers(enableImageEnhancers bool) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.enableImageEnhancers = &enableImageEnhancers
	return r
}

// Determines the output foramt of the image - original,gif,jpg,png
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) Format(format string) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.format = &format
	return r
}

// Optional. Apply a background color for transparent images.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) BackgroundColor(backgroundColor string) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// Optional. Apply a foreground layer on top of the image.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) ForegroundLayer(foregroundLayer string) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.foregroundLayer = &foregroundLayer
	return r
}

// Set to true to force normalization of orientation in the event the renderer does not support it.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) AutoOrient(autoOrient bool) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.autoOrient = &autoOrient
	return r
}

// Set to true to retain image animation (when supported).
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) KeepAnimation(keepAnimation bool) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.keepAnimation = &keepAnimation
	return r
}

// Image Index
func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) Index(index int32) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	r.index = &index
	return r
}

func (r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetArtistsByNameImagesByTypeExecute(r)
}

/*
GetArtistsByNameImagesByType Method for GetArtistsByNameImagesByType

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name Item name
 @param type_ Image Type
 @return ImageServiceAPIGetArtistsByNameImagesByTypeRequest
*/
func (a *ImageServiceAPIService) GetArtistsByNameImagesByType(ctx context.Context, name string, type_ ModelImageType) ImageServiceAPIGetArtistsByNameImagesByTypeRequest {
	return ImageServiceAPIGetArtistsByNameImagesByTypeRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		type_: type_,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) GetArtistsByNameImagesByTypeExecute(r ImageServiceAPIGetArtistsByNameImagesByTypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetArtistsByNameImagesByType")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Artists/{Name}/Images/{Type}"
	localVarPath = strings.Replace(localVarPath, "{"+"Name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.maxWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxWidth", r.maxWidth, "")
	}
	if r.maxHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxHeight", r.maxHeight, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Width", r.width, "")
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Height", r.height, "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Quality", r.quality, "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tag", r.tag, "")
	}
	if r.cropWhitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CropWhitespace", r.cropWhitespace, "")
	}
	if r.enableImageEnhancers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageEnhancers", r.enableImageEnhancers, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Format", r.format, "")
	}
	if r.backgroundColor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "BackgroundColor", r.backgroundColor, "")
	}
	if r.foregroundLayer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ForegroundLayer", r.foregroundLayer, "")
	}
	if r.autoOrient != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AutoOrient", r.autoOrient, "")
	}
	if r.keepAnimation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "KeepAnimation", r.keepAnimation, "")
	}
	if r.index != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Index", r.index, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	name string
	type_ ModelImageType
	index int32
	maxWidth *int32
	maxHeight *int32
	width *int32
	height *int32
	quality *int32
	tag *string
	cropWhitespace *bool
	enableImageEnhancers *bool
	format *string
	backgroundColor *string
	foregroundLayer *string
	autoOrient *bool
	keepAnimation *bool
}

// The maximum image width to return.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) MaxWidth(maxWidth int32) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.maxWidth = &maxWidth
	return r
}

// The maximum image height to return.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) MaxHeight(maxHeight int32) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.maxHeight = &maxHeight
	return r
}

// The fixed image width to return.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) Width(width int32) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.width = &width
	return r
}

// The fixed image height to return.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) Height(height int32) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.height = &height
	return r
}

// Optional quality setting, from 0-100. Defaults to 90 and should suffice in most cases.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) Quality(quality int32) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.quality = &quality
	return r
}

// Optional. Supply the cache tag from the item object to receive strong caching headers.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) Tag(tag string) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.tag = &tag
	return r
}

// Specify if whitespace should be cropped out of the image. True/False. If unspecified, whitespace will be cropped from logos and clear art.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) CropWhitespace(cropWhitespace bool) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.cropWhitespace = &cropWhitespace
	return r
}

// Enable or disable image enhancers such as cover art.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) EnableImageEnhancers(enableImageEnhancers bool) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.enableImageEnhancers = &enableImageEnhancers
	return r
}

// Determines the output foramt of the image - original,gif,jpg,png
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) Format(format string) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.format = &format
	return r
}

// Optional. Apply a background color for transparent images.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) BackgroundColor(backgroundColor string) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// Optional. Apply a foreground layer on top of the image.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) ForegroundLayer(foregroundLayer string) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.foregroundLayer = &foregroundLayer
	return r
}

// Set to true to force normalization of orientation in the event the renderer does not support it.
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) AutoOrient(autoOrient bool) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.autoOrient = &autoOrient
	return r
}

// Set to true to retain image animation (when supported).
func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) KeepAnimation(keepAnimation bool) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	r.keepAnimation = &keepAnimation
	return r
}

func (r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetArtistsByNameImagesByTypeByIndexExecute(r)
}

/*
GetArtistsByNameImagesByTypeByIndex Method for GetArtistsByNameImagesByTypeByIndex

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name Item name
 @param type_ Image Type
 @param index Image Index
 @return ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest
*/
func (a *ImageServiceAPIService) GetArtistsByNameImagesByTypeByIndex(ctx context.Context, name string, type_ ModelImageType, index int32) ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest {
	return ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		type_: type_,
		index: index,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) GetArtistsByNameImagesByTypeByIndexExecute(r ImageServiceAPIGetArtistsByNameImagesByTypeByIndexRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetArtistsByNameImagesByTypeByIndex")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Artists/{Name}/Images/{Type}/{Index}"
	localVarPath = strings.Replace(localVarPath, "{"+"Name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Index"+"}", url.PathEscape(parameterValueToString(r.index, "index")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.maxWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxWidth", r.maxWidth, "")
	}
	if r.maxHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxHeight", r.maxHeight, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Width", r.width, "")
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Height", r.height, "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Quality", r.quality, "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tag", r.tag, "")
	}
	if r.cropWhitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CropWhitespace", r.cropWhitespace, "")
	}
	if r.enableImageEnhancers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageEnhancers", r.enableImageEnhancers, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Format", r.format, "")
	}
	if r.backgroundColor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "BackgroundColor", r.backgroundColor, "")
	}
	if r.foregroundLayer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ForegroundLayer", r.foregroundLayer, "")
	}
	if r.autoOrient != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AutoOrient", r.autoOrient, "")
	}
	if r.keepAnimation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "KeepAnimation", r.keepAnimation, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIGetGamegenresByNameImagesByTypeRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	name string
	type_ ModelImageType
	maxWidth *int32
	maxHeight *int32
	width *int32
	height *int32
	quality *int32
	tag *string
	cropWhitespace *bool
	enableImageEnhancers *bool
	format *string
	backgroundColor *string
	foregroundLayer *string
	autoOrient *bool
	keepAnimation *bool
	index *int32
}

// The maximum image width to return.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) MaxWidth(maxWidth int32) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.maxWidth = &maxWidth
	return r
}

// The maximum image height to return.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) MaxHeight(maxHeight int32) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.maxHeight = &maxHeight
	return r
}

// The fixed image width to return.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) Width(width int32) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.width = &width
	return r
}

// The fixed image height to return.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) Height(height int32) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.height = &height
	return r
}

// Optional quality setting, from 0-100. Defaults to 90 and should suffice in most cases.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) Quality(quality int32) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.quality = &quality
	return r
}

// Optional. Supply the cache tag from the item object to receive strong caching headers.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) Tag(tag string) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.tag = &tag
	return r
}

// Specify if whitespace should be cropped out of the image. True/False. If unspecified, whitespace will be cropped from logos and clear art.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) CropWhitespace(cropWhitespace bool) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.cropWhitespace = &cropWhitespace
	return r
}

// Enable or disable image enhancers such as cover art.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) EnableImageEnhancers(enableImageEnhancers bool) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.enableImageEnhancers = &enableImageEnhancers
	return r
}

// Determines the output foramt of the image - original,gif,jpg,png
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) Format(format string) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.format = &format
	return r
}

// Optional. Apply a background color for transparent images.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) BackgroundColor(backgroundColor string) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// Optional. Apply a foreground layer on top of the image.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) ForegroundLayer(foregroundLayer string) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.foregroundLayer = &foregroundLayer
	return r
}

// Set to true to force normalization of orientation in the event the renderer does not support it.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) AutoOrient(autoOrient bool) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.autoOrient = &autoOrient
	return r
}

// Set to true to retain image animation (when supported).
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) KeepAnimation(keepAnimation bool) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.keepAnimation = &keepAnimation
	return r
}

// Image Index
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) Index(index int32) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	r.index = &index
	return r
}

func (r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetGamegenresByNameImagesByTypeExecute(r)
}

/*
GetGamegenresByNameImagesByType Method for GetGamegenresByNameImagesByType

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name Item name
 @param type_ Image Type
 @return ImageServiceAPIGetGamegenresByNameImagesByTypeRequest
*/
func (a *ImageServiceAPIService) GetGamegenresByNameImagesByType(ctx context.Context, name string, type_ ModelImageType) ImageServiceAPIGetGamegenresByNameImagesByTypeRequest {
	return ImageServiceAPIGetGamegenresByNameImagesByTypeRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		type_: type_,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) GetGamegenresByNameImagesByTypeExecute(r ImageServiceAPIGetGamegenresByNameImagesByTypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetGamegenresByNameImagesByType")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/GameGenres/{Name}/Images/{Type}"
	localVarPath = strings.Replace(localVarPath, "{"+"Name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.maxWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxWidth", r.maxWidth, "")
	}
	if r.maxHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxHeight", r.maxHeight, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Width", r.width, "")
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Height", r.height, "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Quality", r.quality, "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tag", r.tag, "")
	}
	if r.cropWhitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CropWhitespace", r.cropWhitespace, "")
	}
	if r.enableImageEnhancers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageEnhancers", r.enableImageEnhancers, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Format", r.format, "")
	}
	if r.backgroundColor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "BackgroundColor", r.backgroundColor, "")
	}
	if r.foregroundLayer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ForegroundLayer", r.foregroundLayer, "")
	}
	if r.autoOrient != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AutoOrient", r.autoOrient, "")
	}
	if r.keepAnimation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "KeepAnimation", r.keepAnimation, "")
	}
	if r.index != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Index", r.index, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	name string
	type_ ModelImageType
	index int32
	maxWidth *int32
	maxHeight *int32
	width *int32
	height *int32
	quality *int32
	tag *string
	cropWhitespace *bool
	enableImageEnhancers *bool
	format *string
	backgroundColor *string
	foregroundLayer *string
	autoOrient *bool
	keepAnimation *bool
}

// The maximum image width to return.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) MaxWidth(maxWidth int32) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.maxWidth = &maxWidth
	return r
}

// The maximum image height to return.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) MaxHeight(maxHeight int32) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.maxHeight = &maxHeight
	return r
}

// The fixed image width to return.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) Width(width int32) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.width = &width
	return r
}

// The fixed image height to return.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) Height(height int32) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.height = &height
	return r
}

// Optional quality setting, from 0-100. Defaults to 90 and should suffice in most cases.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) Quality(quality int32) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.quality = &quality
	return r
}

// Optional. Supply the cache tag from the item object to receive strong caching headers.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) Tag(tag string) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.tag = &tag
	return r
}

// Specify if whitespace should be cropped out of the image. True/False. If unspecified, whitespace will be cropped from logos and clear art.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) CropWhitespace(cropWhitespace bool) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.cropWhitespace = &cropWhitespace
	return r
}

// Enable or disable image enhancers such as cover art.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) EnableImageEnhancers(enableImageEnhancers bool) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.enableImageEnhancers = &enableImageEnhancers
	return r
}

// Determines the output foramt of the image - original,gif,jpg,png
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) Format(format string) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.format = &format
	return r
}

// Optional. Apply a background color for transparent images.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) BackgroundColor(backgroundColor string) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// Optional. Apply a foreground layer on top of the image.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) ForegroundLayer(foregroundLayer string) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.foregroundLayer = &foregroundLayer
	return r
}

// Set to true to force normalization of orientation in the event the renderer does not support it.
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) AutoOrient(autoOrient bool) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.autoOrient = &autoOrient
	return r
}

// Set to true to retain image animation (when supported).
func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) KeepAnimation(keepAnimation bool) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	r.keepAnimation = &keepAnimation
	return r
}

func (r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetGamegenresByNameImagesByTypeByIndexExecute(r)
}

/*
GetGamegenresByNameImagesByTypeByIndex Method for GetGamegenresByNameImagesByTypeByIndex

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name Item name
 @param type_ Image Type
 @param index Image Index
 @return ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest
*/
func (a *ImageServiceAPIService) GetGamegenresByNameImagesByTypeByIndex(ctx context.Context, name string, type_ ModelImageType, index int32) ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest {
	return ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		type_: type_,
		index: index,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) GetGamegenresByNameImagesByTypeByIndexExecute(r ImageServiceAPIGetGamegenresByNameImagesByTypeByIndexRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetGamegenresByNameImagesByTypeByIndex")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/GameGenres/{Name}/Images/{Type}/{Index}"
	localVarPath = strings.Replace(localVarPath, "{"+"Name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Index"+"}", url.PathEscape(parameterValueToString(r.index, "index")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.maxWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxWidth", r.maxWidth, "")
	}
	if r.maxHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxHeight", r.maxHeight, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Width", r.width, "")
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Height", r.height, "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Quality", r.quality, "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tag", r.tag, "")
	}
	if r.cropWhitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CropWhitespace", r.cropWhitespace, "")
	}
	if r.enableImageEnhancers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageEnhancers", r.enableImageEnhancers, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Format", r.format, "")
	}
	if r.backgroundColor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "BackgroundColor", r.backgroundColor, "")
	}
	if r.foregroundLayer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ForegroundLayer", r.foregroundLayer, "")
	}
	if r.autoOrient != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AutoOrient", r.autoOrient, "")
	}
	if r.keepAnimation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "KeepAnimation", r.keepAnimation, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIGetGenresByNameImagesByTypeRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	name string
	type_ ModelImageType
	maxWidth *int32
	maxHeight *int32
	width *int32
	height *int32
	quality *int32
	tag *string
	cropWhitespace *bool
	enableImageEnhancers *bool
	format *string
	backgroundColor *string
	foregroundLayer *string
	autoOrient *bool
	keepAnimation *bool
	index *int32
}

// The maximum image width to return.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) MaxWidth(maxWidth int32) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.maxWidth = &maxWidth
	return r
}

// The maximum image height to return.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) MaxHeight(maxHeight int32) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.maxHeight = &maxHeight
	return r
}

// The fixed image width to return.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) Width(width int32) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.width = &width
	return r
}

// The fixed image height to return.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) Height(height int32) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.height = &height
	return r
}

// Optional quality setting, from 0-100. Defaults to 90 and should suffice in most cases.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) Quality(quality int32) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.quality = &quality
	return r
}

// Optional. Supply the cache tag from the item object to receive strong caching headers.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) Tag(tag string) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.tag = &tag
	return r
}

// Specify if whitespace should be cropped out of the image. True/False. If unspecified, whitespace will be cropped from logos and clear art.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) CropWhitespace(cropWhitespace bool) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.cropWhitespace = &cropWhitespace
	return r
}

// Enable or disable image enhancers such as cover art.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) EnableImageEnhancers(enableImageEnhancers bool) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.enableImageEnhancers = &enableImageEnhancers
	return r
}

// Determines the output foramt of the image - original,gif,jpg,png
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) Format(format string) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.format = &format
	return r
}

// Optional. Apply a background color for transparent images.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) BackgroundColor(backgroundColor string) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// Optional. Apply a foreground layer on top of the image.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) ForegroundLayer(foregroundLayer string) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.foregroundLayer = &foregroundLayer
	return r
}

// Set to true to force normalization of orientation in the event the renderer does not support it.
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) AutoOrient(autoOrient bool) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.autoOrient = &autoOrient
	return r
}

// Set to true to retain image animation (when supported).
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) KeepAnimation(keepAnimation bool) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.keepAnimation = &keepAnimation
	return r
}

// Image Index
func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) Index(index int32) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	r.index = &index
	return r
}

func (r ImageServiceAPIGetGenresByNameImagesByTypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetGenresByNameImagesByTypeExecute(r)
}

/*
GetGenresByNameImagesByType Method for GetGenresByNameImagesByType

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name Item name
 @param type_ Image Type
 @return ImageServiceAPIGetGenresByNameImagesByTypeRequest
*/
func (a *ImageServiceAPIService) GetGenresByNameImagesByType(ctx context.Context, name string, type_ ModelImageType) ImageServiceAPIGetGenresByNameImagesByTypeRequest {
	return ImageServiceAPIGetGenresByNameImagesByTypeRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		type_: type_,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) GetGenresByNameImagesByTypeExecute(r ImageServiceAPIGetGenresByNameImagesByTypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetGenresByNameImagesByType")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Genres/{Name}/Images/{Type}"
	localVarPath = strings.Replace(localVarPath, "{"+"Name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.maxWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxWidth", r.maxWidth, "")
	}
	if r.maxHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxHeight", r.maxHeight, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Width", r.width, "")
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Height", r.height, "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Quality", r.quality, "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tag", r.tag, "")
	}
	if r.cropWhitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CropWhitespace", r.cropWhitespace, "")
	}
	if r.enableImageEnhancers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageEnhancers", r.enableImageEnhancers, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Format", r.format, "")
	}
	if r.backgroundColor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "BackgroundColor", r.backgroundColor, "")
	}
	if r.foregroundLayer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ForegroundLayer", r.foregroundLayer, "")
	}
	if r.autoOrient != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AutoOrient", r.autoOrient, "")
	}
	if r.keepAnimation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "KeepAnimation", r.keepAnimation, "")
	}
	if r.index != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Index", r.index, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	name string
	type_ ModelImageType
	index int32
	maxWidth *int32
	maxHeight *int32
	width *int32
	height *int32
	quality *int32
	tag *string
	cropWhitespace *bool
	enableImageEnhancers *bool
	format *string
	backgroundColor *string
	foregroundLayer *string
	autoOrient *bool
	keepAnimation *bool
}

// The maximum image width to return.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) MaxWidth(maxWidth int32) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.maxWidth = &maxWidth
	return r
}

// The maximum image height to return.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) MaxHeight(maxHeight int32) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.maxHeight = &maxHeight
	return r
}

// The fixed image width to return.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) Width(width int32) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.width = &width
	return r
}

// The fixed image height to return.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) Height(height int32) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.height = &height
	return r
}

// Optional quality setting, from 0-100. Defaults to 90 and should suffice in most cases.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) Quality(quality int32) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.quality = &quality
	return r
}

// Optional. Supply the cache tag from the item object to receive strong caching headers.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) Tag(tag string) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.tag = &tag
	return r
}

// Specify if whitespace should be cropped out of the image. True/False. If unspecified, whitespace will be cropped from logos and clear art.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) CropWhitespace(cropWhitespace bool) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.cropWhitespace = &cropWhitespace
	return r
}

// Enable or disable image enhancers such as cover art.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) EnableImageEnhancers(enableImageEnhancers bool) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.enableImageEnhancers = &enableImageEnhancers
	return r
}

// Determines the output foramt of the image - original,gif,jpg,png
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) Format(format string) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.format = &format
	return r
}

// Optional. Apply a background color for transparent images.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) BackgroundColor(backgroundColor string) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// Optional. Apply a foreground layer on top of the image.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) ForegroundLayer(foregroundLayer string) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.foregroundLayer = &foregroundLayer
	return r
}

// Set to true to force normalization of orientation in the event the renderer does not support it.
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) AutoOrient(autoOrient bool) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.autoOrient = &autoOrient
	return r
}

// Set to true to retain image animation (when supported).
func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) KeepAnimation(keepAnimation bool) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	r.keepAnimation = &keepAnimation
	return r
}

func (r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetGenresByNameImagesByTypeByIndexExecute(r)
}

/*
GetGenresByNameImagesByTypeByIndex Method for GetGenresByNameImagesByTypeByIndex

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name Item name
 @param type_ Image Type
 @param index Image Index
 @return ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest
*/
func (a *ImageServiceAPIService) GetGenresByNameImagesByTypeByIndex(ctx context.Context, name string, type_ ModelImageType, index int32) ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest {
	return ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		type_: type_,
		index: index,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) GetGenresByNameImagesByTypeByIndexExecute(r ImageServiceAPIGetGenresByNameImagesByTypeByIndexRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetGenresByNameImagesByTypeByIndex")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Genres/{Name}/Images/{Type}/{Index}"
	localVarPath = strings.Replace(localVarPath, "{"+"Name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Index"+"}", url.PathEscape(parameterValueToString(r.index, "index")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.maxWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxWidth", r.maxWidth, "")
	}
	if r.maxHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxHeight", r.maxHeight, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Width", r.width, "")
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Height", r.height, "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Quality", r.quality, "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tag", r.tag, "")
	}
	if r.cropWhitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CropWhitespace", r.cropWhitespace, "")
	}
	if r.enableImageEnhancers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageEnhancers", r.enableImageEnhancers, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Format", r.format, "")
	}
	if r.backgroundColor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "BackgroundColor", r.backgroundColor, "")
	}
	if r.foregroundLayer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ForegroundLayer", r.foregroundLayer, "")
	}
	if r.autoOrient != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AutoOrient", r.autoOrient, "")
	}
	if r.keepAnimation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "KeepAnimation", r.keepAnimation, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIGetItemsByIdImagesRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	id string
}

func (r ImageServiceAPIGetItemsByIdImagesRequest) Execute() ([]ModelImageInfo, *http.Response, error) {
	return r.ApiService.GetItemsByIdImagesExecute(r)
}

/*
GetItemsByIdImages Gets information about an item's images

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Item Id
 @return ImageServiceAPIGetItemsByIdImagesRequest
*/
func (a *ImageServiceAPIService) GetItemsByIdImages(ctx context.Context, id string) ImageServiceAPIGetItemsByIdImagesRequest {
	return ImageServiceAPIGetItemsByIdImagesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []ModelImageInfo
func (a *ImageServiceAPIService) GetItemsByIdImagesExecute(r ImageServiceAPIGetItemsByIdImagesRequest) ([]ModelImageInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ModelImageInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetItemsByIdImages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Items/{Id}/Images"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ImageServiceAPIGetItemsByIdImagesByTypeRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	id string
	type_ ModelImageType
	maxWidth *int32
	maxHeight *int32
	width *int32
	height *int32
	quality *int32
	tag *string
	cropWhitespace *bool
	enableImageEnhancers *bool
	format *string
	backgroundColor *string
	foregroundLayer *string
	autoOrient *bool
	keepAnimation *bool
	index *int32
}

// The maximum image width to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) MaxWidth(maxWidth int32) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.maxWidth = &maxWidth
	return r
}

// The maximum image height to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) MaxHeight(maxHeight int32) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.maxHeight = &maxHeight
	return r
}

// The fixed image width to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) Width(width int32) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.width = &width
	return r
}

// The fixed image height to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) Height(height int32) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.height = &height
	return r
}

// Optional quality setting, from 0-100. Defaults to 90 and should suffice in most cases.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) Quality(quality int32) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.quality = &quality
	return r
}

// Optional. Supply the cache tag from the item object to receive strong caching headers.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) Tag(tag string) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.tag = &tag
	return r
}

// Specify if whitespace should be cropped out of the image. True/False. If unspecified, whitespace will be cropped from logos and clear art.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) CropWhitespace(cropWhitespace bool) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.cropWhitespace = &cropWhitespace
	return r
}

// Enable or disable image enhancers such as cover art.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) EnableImageEnhancers(enableImageEnhancers bool) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.enableImageEnhancers = &enableImageEnhancers
	return r
}

// Determines the output foramt of the image - original,gif,jpg,png
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) Format(format string) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.format = &format
	return r
}

// Optional. Apply a background color for transparent images.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) BackgroundColor(backgroundColor string) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// Optional. Apply a foreground layer on top of the image.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) ForegroundLayer(foregroundLayer string) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.foregroundLayer = &foregroundLayer
	return r
}

// Set to true to force normalization of orientation in the event the renderer does not support it.
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) AutoOrient(autoOrient bool) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.autoOrient = &autoOrient
	return r
}

// Set to true to retain image animation (when supported).
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) KeepAnimation(keepAnimation bool) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.keepAnimation = &keepAnimation
	return r
}

// Image Index
func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) Index(index int32) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	r.index = &index
	return r
}

func (r ImageServiceAPIGetItemsByIdImagesByTypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetItemsByIdImagesByTypeExecute(r)
}

/*
GetItemsByIdImagesByType Method for GetItemsByIdImagesByType

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Item Id
 @param type_ Image Type
 @return ImageServiceAPIGetItemsByIdImagesByTypeRequest
*/
func (a *ImageServiceAPIService) GetItemsByIdImagesByType(ctx context.Context, id string, type_ ModelImageType) ImageServiceAPIGetItemsByIdImagesByTypeRequest {
	return ImageServiceAPIGetItemsByIdImagesByTypeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		type_: type_,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) GetItemsByIdImagesByTypeExecute(r ImageServiceAPIGetItemsByIdImagesByTypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetItemsByIdImagesByType")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Items/{Id}/Images/{Type}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.maxWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxWidth", r.maxWidth, "")
	}
	if r.maxHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxHeight", r.maxHeight, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Width", r.width, "")
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Height", r.height, "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Quality", r.quality, "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tag", r.tag, "")
	}
	if r.cropWhitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CropWhitespace", r.cropWhitespace, "")
	}
	if r.enableImageEnhancers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageEnhancers", r.enableImageEnhancers, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Format", r.format, "")
	}
	if r.backgroundColor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "BackgroundColor", r.backgroundColor, "")
	}
	if r.foregroundLayer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ForegroundLayer", r.foregroundLayer, "")
	}
	if r.autoOrient != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AutoOrient", r.autoOrient, "")
	}
	if r.keepAnimation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "KeepAnimation", r.keepAnimation, "")
	}
	if r.index != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Index", r.index, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	id string
	type_ ModelImageType
	index int32
	maxWidth *int32
	maxHeight *int32
	width *int32
	height *int32
	quality *int32
	tag *string
	cropWhitespace *bool
	enableImageEnhancers *bool
	format *string
	backgroundColor *string
	foregroundLayer *string
	autoOrient *bool
	keepAnimation *bool
}

// The maximum image width to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) MaxWidth(maxWidth int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.maxWidth = &maxWidth
	return r
}

// The maximum image height to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) MaxHeight(maxHeight int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.maxHeight = &maxHeight
	return r
}

// The fixed image width to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) Width(width int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.width = &width
	return r
}

// The fixed image height to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) Height(height int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.height = &height
	return r
}

// Optional quality setting, from 0-100. Defaults to 90 and should suffice in most cases.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) Quality(quality int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.quality = &quality
	return r
}

// Optional. Supply the cache tag from the item object to receive strong caching headers.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) Tag(tag string) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.tag = &tag
	return r
}

// Specify if whitespace should be cropped out of the image. True/False. If unspecified, whitespace will be cropped from logos and clear art.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) CropWhitespace(cropWhitespace bool) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.cropWhitespace = &cropWhitespace
	return r
}

// Enable or disable image enhancers such as cover art.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) EnableImageEnhancers(enableImageEnhancers bool) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.enableImageEnhancers = &enableImageEnhancers
	return r
}

// Determines the output foramt of the image - original,gif,jpg,png
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) Format(format string) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.format = &format
	return r
}

// Optional. Apply a background color for transparent images.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) BackgroundColor(backgroundColor string) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// Optional. Apply a foreground layer on top of the image.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) ForegroundLayer(foregroundLayer string) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.foregroundLayer = &foregroundLayer
	return r
}

// Set to true to force normalization of orientation in the event the renderer does not support it.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) AutoOrient(autoOrient bool) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.autoOrient = &autoOrient
	return r
}

// Set to true to retain image animation (when supported).
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) KeepAnimation(keepAnimation bool) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	r.keepAnimation = &keepAnimation
	return r
}

func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetItemsByIdImagesByTypeByIndexExecute(r)
}

/*
GetItemsByIdImagesByTypeByIndex Method for GetItemsByIdImagesByTypeByIndex

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Item Id
 @param type_ Image Type
 @param index Image Index
 @return ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest
*/
func (a *ImageServiceAPIService) GetItemsByIdImagesByTypeByIndex(ctx context.Context, id string, type_ ModelImageType, index int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest {
	return ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		type_: type_,
		index: index,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) GetItemsByIdImagesByTypeByIndexExecute(r ImageServiceAPIGetItemsByIdImagesByTypeByIndexRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetItemsByIdImagesByTypeByIndex")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Items/{Id}/Images/{Type}/{Index}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Index"+"}", url.PathEscape(parameterValueToString(r.index, "index")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.maxWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxWidth", r.maxWidth, "")
	}
	if r.maxHeight != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxHeight", r.maxHeight, "")
	}
	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Width", r.width, "")
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Height", r.height, "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Quality", r.quality, "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tag", r.tag, "")
	}
	if r.cropWhitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CropWhitespace", r.cropWhitespace, "")
	}
	if r.enableImageEnhancers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageEnhancers", r.enableImageEnhancers, "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Format", r.format, "")
	}
	if r.backgroundColor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "BackgroundColor", r.backgroundColor, "")
	}
	if r.foregroundLayer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ForegroundLayer", r.foregroundLayer, "")
	}
	if r.autoOrient != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AutoOrient", r.autoOrient, "")
	}
	if r.keepAnimation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "KeepAnimation", r.keepAnimation, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest struct {
	ctx context.Context
	ApiService *ImageServiceAPIService
	percentPlayed int32
	unPlayedCount int32
	id string
	maxWidth int32
	maxHeight int32
	tag string
	format string
	type_ ModelImageType
	index int32
	width *int32
	height *int32
	quality *int32
	cropWhitespace *bool
	enableImageEnhancers *bool
	backgroundColor *string
	foregroundLayer *string
	autoOrient *bool
	keepAnimation *bool
}

// The fixed image width to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) Width(width int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	r.width = &width
	return r
}

// The fixed image height to return.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) Height(height int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	r.height = &height
	return r
}

// Optional quality setting, from 0-100. Defaults to 90 and should suffice in most cases.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) Quality(quality int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	r.quality = &quality
	return r
}

// Specify if whitespace should be cropped out of the image. True/False. If unspecified, whitespace will be cropped from logos and clear art.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) CropWhitespace(cropWhitespace bool) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	r.cropWhitespace = &cropWhitespace
	return r
}

// Enable or disable image enhancers such as cover art.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) EnableImageEnhancers(enableImageEnhancers bool) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	r.enableImageEnhancers = &enableImageEnhancers
	return r
}

// Optional. Apply a background color for transparent images.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) BackgroundColor(backgroundColor string) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	r.backgroundColor = &backgroundColor
	return r
}

// Optional. Apply a foreground layer on top of the image.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) ForegroundLayer(foregroundLayer string) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	r.foregroundLayer = &foregroundLayer
	return r
}

// Set to true to force normalization of orientation in the event the renderer does not support it.
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) AutoOrient(autoOrient bool) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	r.autoOrient = &autoOrient
	return r
}

// Set to true to retain image animation (when supported).
func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) KeepAnimation(keepAnimation bool) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	r.keepAnimation = &keepAnimation
	return r
}

func (r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountExecute(r)
}

/*
GetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcount Method for GetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcount

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param percentPlayed
 @param unPlayedCount
 @param id Item Id
 @param maxWidth The maximum image width to return.
 @param maxHeight The maximum image height to return.
 @param tag Optional. Supply the cache tag from the item object to receive strong caching headers.
 @param format Determines the output foramt of the image - original,gif,jpg,png
 @param type_ Image Type
 @param index Image Index
 @return ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest
*/
func (a *ImageServiceAPIService) GetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcount(ctx context.Context, percentPlayed int32, unPlayedCount int32, id string, maxWidth int32, maxHeight int32, tag string, format string, type_ ModelImageType, index int32) ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest {
	return ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest{
		ApiService: a,
		ctx: ctx,
		percentPlayed: percentPlayed,
		unPlayedCount: unPlayedCount,
		id: id,
		maxWidth: maxWidth,
		maxHeight: maxHeight,
		tag: tag,
		format: format,
		type_: type_,
		index: index,
	}
}

// Execute executes the request
func (a *ImageServiceAPIService) GetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountExecute(r ImageServiceAPIGetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcountRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ImageServiceAPIService.GetItemsByIdImagesByTypeByIndexByTagByFormatByMaxwidthByMaxheightByPercentplayedByUnplayedcount")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Items/{Id}/Images/{Type}/{Index}/{Tag}/{Format}/{MaxWidth}/{MaxHeight}/{PercentPlayed}/{UnplayedCount}"
	localVarPath = strings.Replace(localVarPath, "{"+"PercentPlayed"+"}", url.PathEscape(parameterValueToString(r.percentPlayed, "percentPlayed")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"UnPlayedCount"+"}", url.PathEscape(parameterValueToString(r.unPlayedCount, "unPlayedCount")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"MaxWidth"+"}", url.PathEscape(parameterValueToString(r.maxWidth, "maxWidth")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"MaxHeight"+"}", url.PathEscape(parameterValueToString(r.maxHeight, "maxHeight")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Tag"+"}", url.PathEscape(parameterValueToString(r.tag, "tag")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Format"+"}", url.PathEscape(parameterValueToString(r.format, "format")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"Index"+"}", url.PathEscape(parameterValueToString(r.index, "index")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Width", r.width, "")
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Height", r.height, "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Quality", r.quality, "")
	}
	if r.cropWhitespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "CropWhitespace", r.cropWhitespace, "")
	}
	if r.enableImageEnhancers != nil {
[...]
