/*
Emby Server REST API (BETA)

Explore the Emby Server API

API version: 4.8.0.61
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package embyclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ItemRefreshServiceAPIService ItemRefreshServiceAPI service
type ItemRefreshServiceAPIService service

type ItemRefreshServiceAPIPostItemsByIdRefreshRequest struct {
	ctx context.Context
	ApiService *ItemRefreshServiceAPIService
	id string
	recursive *bool
	metadataRefreshMode *ModelMetadataRefreshMode
	imageRefreshMode *ModelMetadataRefreshMode
	replaceAllMetadata *bool
	replaceAllImages *bool
}

// Indicates if the refresh should occur recursively.
func (r ItemRefreshServiceAPIPostItemsByIdRefreshRequest) Recursive(recursive bool) ItemRefreshServiceAPIPostItemsByIdRefreshRequest {
	r.recursive = &recursive
	return r
}

// Specifies the metadata refresh mode
func (r ItemRefreshServiceAPIPostItemsByIdRefreshRequest) MetadataRefreshMode(metadataRefreshMode ModelMetadataRefreshMode) ItemRefreshServiceAPIPostItemsByIdRefreshRequest {
	r.metadataRefreshMode = &metadataRefreshMode
	return r
}

// Specifies the image refresh mode
func (r ItemRefreshServiceAPIPostItemsByIdRefreshRequest) ImageRefreshMode(imageRefreshMode ModelMetadataRefreshMode) ItemRefreshServiceAPIPostItemsByIdRefreshRequest {
	r.imageRefreshMode = &imageRefreshMode
	return r
}

// Determines if metadata should be replaced. Only applicable if mode is FullRefresh
func (r ItemRefreshServiceAPIPostItemsByIdRefreshRequest) ReplaceAllMetadata(replaceAllMetadata bool) ItemRefreshServiceAPIPostItemsByIdRefreshRequest {
	r.replaceAllMetadata = &replaceAllMetadata
	return r
}

// Determines if images should be replaced. Only applicable if mode is FullRefresh
func (r ItemRefreshServiceAPIPostItemsByIdRefreshRequest) ReplaceAllImages(replaceAllImages bool) ItemRefreshServiceAPIPostItemsByIdRefreshRequest {
	r.replaceAllImages = &replaceAllImages
	return r
}

func (r ItemRefreshServiceAPIPostItemsByIdRefreshRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostItemsByIdRefreshExecute(r)
}

/*
PostItemsByIdRefresh Refreshes metadata for an item

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Item Id
 @return ItemRefreshServiceAPIPostItemsByIdRefreshRequest
*/
func (a *ItemRefreshServiceAPIService) PostItemsByIdRefresh(ctx context.Context, id string) ItemRefreshServiceAPIPostItemsByIdRefreshRequest {
	return ItemRefreshServiceAPIPostItemsByIdRefreshRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ItemRefreshServiceAPIService) PostItemsByIdRefreshExecute(r ItemRefreshServiceAPIPostItemsByIdRefreshRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemRefreshServiceAPIService.PostItemsByIdRefresh")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/Items/{Id}/Refresh"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.recursive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Recursive", r.recursive, "")
	}
	if r.metadataRefreshMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MetadataRefreshMode", r.metadataRefreshMode, "")
	}
	if r.imageRefreshMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ImageRefreshMode", r.imageRefreshMode, "")
	}
	if r.replaceAllMetadata != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ReplaceAllMetadata", r.replaceAllMetadata, "")
	}
	if r.replaceAllImages != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ReplaceAllImages", r.replaceAllImages, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
