/*
Emby Server REST API (BETA)

Explore the Emby Server API

API version: 4.8.0.61
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package embyclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// LiveTvServiceAPIService LiveTvServiceAPI service
type LiveTvServiceAPIService service

type LiveTvServiceAPIDeleteLivetvChannelmappingoptionsRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	providerId *string
}

// Provider id
func (r LiveTvServiceAPIDeleteLivetvChannelmappingoptionsRequest) ProviderId(providerId string) LiveTvServiceAPIDeleteLivetvChannelmappingoptionsRequest {
	r.providerId = &providerId
	return r
}

func (r LiveTvServiceAPIDeleteLivetvChannelmappingoptionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLivetvChannelmappingoptionsExecute(r)
}

/*
DeleteLivetvChannelmappingoptions Method for DeleteLivetvChannelmappingoptions

Requires authentication as administrator

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LiveTvServiceAPIDeleteLivetvChannelmappingoptionsRequest
*/
func (a *LiveTvServiceAPIService) DeleteLivetvChannelmappingoptions(ctx context.Context) LiveTvServiceAPIDeleteLivetvChannelmappingoptionsRequest {
	return LiveTvServiceAPIDeleteLivetvChannelmappingoptionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *LiveTvServiceAPIService) DeleteLivetvChannelmappingoptionsExecute(r LiveTvServiceAPIDeleteLivetvChannelmappingoptionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.DeleteLivetvChannelmappingoptions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/ChannelMappingOptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.providerId == nil {
		return nil, reportError("providerId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ProviderId", r.providerId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LiveTvServiceAPIDeleteLivetvChannelmappingsRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	providerId *string
}

// Provider id
func (r LiveTvServiceAPIDeleteLivetvChannelmappingsRequest) ProviderId(providerId string) LiveTvServiceAPIDeleteLivetvChannelmappingsRequest {
	r.providerId = &providerId
	return r
}

func (r LiveTvServiceAPIDeleteLivetvChannelmappingsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLivetvChannelmappingsExecute(r)
}

/*
DeleteLivetvChannelmappings Method for DeleteLivetvChannelmappings

Requires authentication as administrator

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LiveTvServiceAPIDeleteLivetvChannelmappingsRequest
*/
func (a *LiveTvServiceAPIService) DeleteLivetvChannelmappings(ctx context.Context) LiveTvServiceAPIDeleteLivetvChannelmappingsRequest {
	return LiveTvServiceAPIDeleteLivetvChannelmappingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *LiveTvServiceAPIService) DeleteLivetvChannelmappingsExecute(r LiveTvServiceAPIDeleteLivetvChannelmappingsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.DeleteLivetvChannelmappings")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/ChannelMappings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.providerId == nil {
		return nil, reportError("providerId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ProviderId", r.providerId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LiveTvServiceAPIDeleteLivetvListingprovidersRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	id *string
}

// Provider id
func (r LiveTvServiceAPIDeleteLivetvListingprovidersRequest) Id(id string) LiveTvServiceAPIDeleteLivetvListingprovidersRequest {
	r.id = &id
	return r
}

func (r LiveTvServiceAPIDeleteLivetvListingprovidersRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLivetvListingprovidersExecute(r)
}

/*
DeleteLivetvListingproviders Deletes a listing provider

Requires authentication as administrator

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LiveTvServiceAPIDeleteLivetvListingprovidersRequest
*/
func (a *LiveTvServiceAPIService) DeleteLivetvListingproviders(ctx context.Context) LiveTvServiceAPIDeleteLivetvListingprovidersRequest {
	return LiveTvServiceAPIDeleteLivetvListingprovidersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *LiveTvServiceAPIService) DeleteLivetvListingprovidersExecute(r LiveTvServiceAPIDeleteLivetvListingprovidersRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.DeleteLivetvListingproviders")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/ListingProviders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LiveTvServiceAPIDeleteLivetvRecordingsByIdRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	id string
}

func (r LiveTvServiceAPIDeleteLivetvRecordingsByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLivetvRecordingsByIdExecute(r)
}

/*
DeleteLivetvRecordingsById Deletes a live tv recording

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Recording Id
 @return LiveTvServiceAPIDeleteLivetvRecordingsByIdRequest
*/
func (a *LiveTvServiceAPIService) DeleteLivetvRecordingsById(ctx context.Context, id string) LiveTvServiceAPIDeleteLivetvRecordingsByIdRequest {
	return LiveTvServiceAPIDeleteLivetvRecordingsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *LiveTvServiceAPIService) DeleteLivetvRecordingsByIdExecute(r LiveTvServiceAPIDeleteLivetvRecordingsByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.DeleteLivetvRecordingsById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/Recordings/{Id}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LiveTvServiceAPIDeleteLivetvSeriestimersByIdRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	id string
}

func (r LiveTvServiceAPIDeleteLivetvSeriestimersByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLivetvSeriestimersByIdExecute(r)
}

/*
DeleteLivetvSeriestimersById Cancels a live tv series timer

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Timer Id
 @return LiveTvServiceAPIDeleteLivetvSeriestimersByIdRequest
*/
func (a *LiveTvServiceAPIService) DeleteLivetvSeriestimersById(ctx context.Context, id string) LiveTvServiceAPIDeleteLivetvSeriestimersByIdRequest {
	return LiveTvServiceAPIDeleteLivetvSeriestimersByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *LiveTvServiceAPIService) DeleteLivetvSeriestimersByIdExecute(r LiveTvServiceAPIDeleteLivetvSeriestimersByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.DeleteLivetvSeriestimersById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/SeriesTimers/{Id}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LiveTvServiceAPIDeleteLivetvTimersByIdRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	id string
}

func (r LiveTvServiceAPIDeleteLivetvTimersByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLivetvTimersByIdExecute(r)
}

/*
DeleteLivetvTimersById Cancels a live tv timer

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Timer Id
 @return LiveTvServiceAPIDeleteLivetvTimersByIdRequest
*/
func (a *LiveTvServiceAPIService) DeleteLivetvTimersById(ctx context.Context, id string) LiveTvServiceAPIDeleteLivetvTimersByIdRequest {
	return LiveTvServiceAPIDeleteLivetvTimersByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *LiveTvServiceAPIService) DeleteLivetvTimersByIdExecute(r LiveTvServiceAPIDeleteLivetvTimersByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.DeleteLivetvTimersById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/Timers/{Id}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LiveTvServiceAPIDeleteLivetvTunerhostsRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	id *string
}

// Tuner host id
func (r LiveTvServiceAPIDeleteLivetvTunerhostsRequest) Id(id string) LiveTvServiceAPIDeleteLivetvTunerhostsRequest {
	r.id = &id
	return r
}

func (r LiveTvServiceAPIDeleteLivetvTunerhostsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteLivetvTunerhostsExecute(r)
}

/*
DeleteLivetvTunerhosts Deletes a tuner host

Requires authentication as administrator

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LiveTvServiceAPIDeleteLivetvTunerhostsRequest
*/
func (a *LiveTvServiceAPIService) DeleteLivetvTunerhosts(ctx context.Context) LiveTvServiceAPIDeleteLivetvTunerhostsRequest {
	return LiveTvServiceAPIDeleteLivetvTunerhostsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *LiveTvServiceAPIService) DeleteLivetvTunerhostsExecute(r LiveTvServiceAPIDeleteLivetvTunerhostsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.DeleteLivetvTunerhosts")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/TunerHosts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LiveTvServiceAPIGetLivetvAvailablerecordingoptionsRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
}

func (r LiveTvServiceAPIGetLivetvAvailablerecordingoptionsRequest) Execute() (*ModelLiveTVApiAvailableRecordingOptions, *http.Response, error) {
	return r.ApiService.GetLivetvAvailablerecordingoptionsExecute(r)
}

/*
GetLivetvAvailablerecordingoptions Gets available recording options

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LiveTvServiceAPIGetLivetvAvailablerecordingoptionsRequest
*/
func (a *LiveTvServiceAPIService) GetLivetvAvailablerecordingoptions(ctx context.Context) LiveTvServiceAPIGetLivetvAvailablerecordingoptionsRequest {
	return LiveTvServiceAPIGetLivetvAvailablerecordingoptionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModelLiveTVApiAvailableRecordingOptions
func (a *LiveTvServiceAPIService) GetLivetvAvailablerecordingoptionsExecute(r LiveTvServiceAPIGetLivetvAvailablerecordingoptionsRequest) (*ModelLiveTVApiAvailableRecordingOptions, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelLiveTVApiAvailableRecordingOptions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.GetLivetvAvailablerecordingoptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/AvailableRecordingOptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LiveTvServiceAPIGetLivetvChannelmappingoptionsRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	providerId *string
}

// Provider id
func (r LiveTvServiceAPIGetLivetvChannelmappingoptionsRequest) ProviderId(providerId string) LiveTvServiceAPIGetLivetvChannelmappingoptionsRequest {
	r.providerId = &providerId
	return r
}

func (r LiveTvServiceAPIGetLivetvChannelmappingoptionsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetLivetvChannelmappingoptionsExecute(r)
}

/*
GetLivetvChannelmappingoptions Method for GetLivetvChannelmappingoptions

Requires authentication as administrator

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LiveTvServiceAPIGetLivetvChannelmappingoptionsRequest
*/
func (a *LiveTvServiceAPIService) GetLivetvChannelmappingoptions(ctx context.Context) LiveTvServiceAPIGetLivetvChannelmappingoptionsRequest {
	return LiveTvServiceAPIGetLivetvChannelmappingoptionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *LiveTvServiceAPIService) GetLivetvChannelmappingoptionsExecute(r LiveTvServiceAPIGetLivetvChannelmappingoptionsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.GetLivetvChannelmappingoptions")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/ChannelMappingOptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.providerId == nil {
		return nil, reportError("providerId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ProviderId", r.providerId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LiveTvServiceAPIGetLivetvChannelmappingsRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	providerId *string
}

// Provider id
func (r LiveTvServiceAPIGetLivetvChannelmappingsRequest) ProviderId(providerId string) LiveTvServiceAPIGetLivetvChannelmappingsRequest {
	r.providerId = &providerId
	return r
}

func (r LiveTvServiceAPIGetLivetvChannelmappingsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetLivetvChannelmappingsExecute(r)
}

/*
GetLivetvChannelmappings Method for GetLivetvChannelmappings

Requires authentication as administrator

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LiveTvServiceAPIGetLivetvChannelmappingsRequest
*/
func (a *LiveTvServiceAPIService) GetLivetvChannelmappings(ctx context.Context) LiveTvServiceAPIGetLivetvChannelmappingsRequest {
	return LiveTvServiceAPIGetLivetvChannelmappingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *LiveTvServiceAPIService) GetLivetvChannelmappingsExecute(r LiveTvServiceAPIGetLivetvChannelmappingsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.GetLivetvChannelmappings")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/ChannelMappings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.providerId == nil {
		return nil, reportError("providerId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ProviderId", r.providerId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type LiveTvServiceAPIGetLivetvChannelsRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	type_ *ModelLiveTvChannelType
	isLiked *bool
	isDisliked *bool
	enableFavoriteSorting *bool
	addCurrentProgram *bool
	artistType *string
	maxOfficialRating *string
	hasThemeSong *bool
	hasThemeVideo *bool
	hasSubtitles *bool
	hasSpecialFeature *bool
	hasTrailer *bool
	adjacentTo *string
	minIndexNumber *int32
	minStartDate *string
	maxStartDate *string
	minEndDate *string
	maxEndDate *string
	minPlayers *int32
	maxPlayers *int32
	parentIndexNumber *int32
	hasParentalRating *bool
	isHD *bool
	isUnaired *bool
	minCommunityRating *float64
	minCriticRating *float64
	airedDuringSeason *int32
	minPremiereDate *string
	minDateLastSaved *string
	minDateLastSavedForUser *string
	maxPremiereDate *string
	hasOverview *bool
	hasImdbId *bool
	hasTmdbId *bool
	hasTvdbId *bool
	excludeItemIds *string
	startIndex *int32
	limit *int32
	recursive *bool
	searchTerm *string
	sortOrder *string
	parentId *string
	fields *string
	excludeItemTypes *string
	includeItemTypes *string
	anyProviderIdEquals *string
	filters *string
	isFavorite *bool
	isMovie *bool
	isSeries *bool
	isFolder *bool
	isNews *bool
	isKids *bool
	isSports *bool
	isNew *bool
	isPremiere *bool
	isNewOrPremiere *bool
	isRepeat *bool
	projectToMedia *bool
	mediaTypes *string
	imageTypes *string
	sortBy *string
	isPlayed *bool
	genres *string
	officialRatings *string
	tags *string
	excludeTags *string
	years *string
	enableImages *bool
	enableUserData *bool
	imageTypeLimit *int32
	enableImageTypes *string
	person *string
	personIds *string
	personTypes *string
	studios *string
	studioIds *string
	artists *string
	artistIds *string
	albums *string
	ids *string
	videoTypes *string
	containers *string
	audioCodecs *string
	audioLayouts *string
	videoCodecs *string
	extendedVideoTypes *string
	subtitleCodecs *string
	path *string
	userId *string
	minOfficialRating *string
	isLocked *bool
	isPlaceHolder *bool
	hasOfficialRating *bool
	groupItemsIntoCollections *bool
	is3D *bool
	seriesStatus *string
	nameStartsWithOrGreater *string
	artistStartsWithOrGreater *string
	albumArtistStartsWithOrGreater *string
	nameStartsWith *string
	nameLessThan *string
}

// Optional filter by channel type.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Type_(type_ ModelLiveTvChannelType) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.type_ = &type_
	return r
}

// Filter by channels that are liked, or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsLiked(isLiked bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isLiked = &isLiked
	return r
}

// Filter by channels that are disliked, or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsDisliked(isDisliked bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isDisliked = &isDisliked
	return r
}

// Incorporate favorite and like status into channel sorting.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) EnableFavoriteSorting(enableFavoriteSorting bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.enableFavoriteSorting = &enableFavoriteSorting
	return r
}

// Optional. Adds current program info to each channel
func (r LiveTvServiceAPIGetLivetvChannelsRequest) AddCurrentProgram(addCurrentProgram bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.addCurrentProgram = &addCurrentProgram
	return r
}

// Artist or AlbumArtist
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ArtistType(artistType string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.artistType = &artistType
	return r
}

// Optional filter by maximum official rating (PG, PG-13, TV-MA, etc).
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MaxOfficialRating(maxOfficialRating string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.maxOfficialRating = &maxOfficialRating
	return r
}

// Optional filter by items with theme songs.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasThemeSong(hasThemeSong bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasThemeSong = &hasThemeSong
	return r
}

// Optional filter by items with theme videos.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasThemeVideo(hasThemeVideo bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasThemeVideo = &hasThemeVideo
	return r
}

// Optional filter by items with subtitles.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasSubtitles(hasSubtitles bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasSubtitles = &hasSubtitles
	return r
}

// Optional filter by items with special features.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasSpecialFeature(hasSpecialFeature bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasSpecialFeature = &hasSpecialFeature
	return r
}

// Optional filter by items with trailers.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasTrailer(hasTrailer bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasTrailer = &hasTrailer
	return r
}

// Optional. Return items that are siblings of a supplied item.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) AdjacentTo(adjacentTo string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.adjacentTo = &adjacentTo
	return r
}

// Optional filter by minimum index number.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinIndexNumber(minIndexNumber int32) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minIndexNumber = &minIndexNumber
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinStartDate(minStartDate string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minStartDate = &minStartDate
	return r
}

// Optional. The maximum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MaxStartDate(maxStartDate string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.maxStartDate = &maxStartDate
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinEndDate(minEndDate string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minEndDate = &minEndDate
	return r
}

// Optional. The maximum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MaxEndDate(maxEndDate string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.maxEndDate = &maxEndDate
	return r
}

// Optional filter by minimum number of game players.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinPlayers(minPlayers int32) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minPlayers = &minPlayers
	return r
}

// Optional filter by maximum number of game players.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MaxPlayers(maxPlayers int32) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.maxPlayers = &maxPlayers
	return r
}

// Optional filter by parent index number.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ParentIndexNumber(parentIndexNumber int32) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.parentIndexNumber = &parentIndexNumber
	return r
}

// Optional filter by items that have or do not have a parental rating
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasParentalRating(hasParentalRating bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasParentalRating = &hasParentalRating
	return r
}

// Optional filter by items that are HD or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsHD(isHD bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isHD = &isHD
	return r
}

// Optional filter by items that are unaired episodes or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsUnaired(isUnaired bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isUnaired = &isUnaired
	return r
}

// Optional filter by minimum community rating.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinCommunityRating(minCommunityRating float64) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minCommunityRating = &minCommunityRating
	return r
}

// Optional filter by minimum critic rating.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinCriticRating(minCriticRating float64) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minCriticRating = &minCriticRating
	return r
}

// Gets all episodes that aired during a season, including specials.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) AiredDuringSeason(airedDuringSeason int32) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.airedDuringSeason = &airedDuringSeason
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinPremiereDate(minPremiereDate string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minPremiereDate = &minPremiereDate
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinDateLastSaved(minDateLastSaved string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minDateLastSaved = &minDateLastSaved
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinDateLastSavedForUser(minDateLastSavedForUser string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minDateLastSavedForUser = &minDateLastSavedForUser
	return r
}

// Optional. The maximum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MaxPremiereDate(maxPremiereDate string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.maxPremiereDate = &maxPremiereDate
	return r
}

// Optional filter by items that have an overview or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasOverview(hasOverview bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasOverview = &hasOverview
	return r
}

// Optional filter by items that have an imdb id or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasImdbId(hasImdbId bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasImdbId = &hasImdbId
	return r
}

// Optional filter by items that have a tmdb id or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasTmdbId(hasTmdbId bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasTmdbId = &hasTmdbId
	return r
}

// Optional filter by items that have a tvdb id or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasTvdbId(hasTvdbId bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasTvdbId = &hasTvdbId
	return r
}

// Optional. If specified, results will be filtered by exxcluding item ids. This allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ExcludeItemIds(excludeItemIds string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.excludeItemIds = &excludeItemIds
	return r
}

// Optional. The record index to start at. All items with a lower index will be dropped from the results.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) StartIndex(startIndex int32) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.startIndex = &startIndex
	return r
}

// Optional. The maximum number of records to return
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Limit(limit int32) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.limit = &limit
	return r
}

// When searching within folders, this determines whether or not the search will be recursive. true/false
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Recursive(recursive bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.recursive = &recursive
	return r
}

// Enter a search term to perform a search request
func (r LiveTvServiceAPIGetLivetvChannelsRequest) SearchTerm(searchTerm string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.searchTerm = &searchTerm
	return r
}

// Sort Order - Ascending,Descending
func (r LiveTvServiceAPIGetLivetvChannelsRequest) SortOrder(sortOrder string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.sortOrder = &sortOrder
	return r
}

// Specify this to localize the search to a specific item or folder. Omit to use the root
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ParentId(parentId string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.parentId = &parentId
	return r
}

// Optional. Specify additional fields of information to return in the output. This allows multiple, comma delimeted. Options: Budget, Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams, Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio, Revenue, SortName, Studios, Taglines
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Fields(fields string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.fields = &fields
	return r
}

// Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ExcludeItemTypes(excludeItemTypes string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.excludeItemTypes = &excludeItemTypes
	return r
}

// Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IncludeItemTypes(includeItemTypes string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.includeItemTypes = &includeItemTypes
	return r
}

// Optional. If specified, result will be filtered to contain only items which match at least one of the specified IDs. Each provider ID must be in the form &#39;prov.id&#39;, e.g. &#39;imdb.tt123456&#39;. This allows multiple, comma delimeted value pairs.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) AnyProviderIdEquals(anyProviderIdEquals string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.anyProviderIdEquals = &anyProviderIdEquals
	return r
}

// Optional. Specify additional filters to apply. This allows multiple, comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed, IsFavorite, IsResumable, Likes, Dislikes
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Filters(filters string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.filters = &filters
	return r
}

// Optional filter by items that are marked as favorite, or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsFavorite(isFavorite bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isFavorite = &isFavorite
	return r
}

// Optional filter for movies.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsMovie(isMovie bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isMovie = &isMovie
	return r
}

// Optional filter for series.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsSeries(isSeries bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isSeries = &isSeries
	return r
}

// Optional filter for folders.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsFolder(isFolder bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isFolder = &isFolder
	return r
}

// Optional filter for news.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsNews(isNews bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isNews = &isNews
	return r
}

// Optional filter for kids.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsKids(isKids bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isKids = &isKids
	return r
}

// Optional filter for sports.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsSports(isSports bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isSports = &isSports
	return r
}

// Optional filter for IsNew.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsNew(isNew bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isNew = &isNew
	return r
}

// Optional filter for IsPremiere.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsPremiere(isPremiere bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isPremiere = &isPremiere
	return r
}

// Optional filter for IsNewOrPremiere.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsNewOrPremiere(isNewOrPremiere bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isNewOrPremiere = &isNewOrPremiere
	return r
}

// Optional filter for IsRepeat.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsRepeat(isRepeat bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isRepeat = &isRepeat
	return r
}

// ProjectToMedia
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ProjectToMedia(projectToMedia bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.projectToMedia = &projectToMedia
	return r
}

// Optional filter by MediaType. Allows multiple, comma delimited.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MediaTypes(mediaTypes string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.mediaTypes = &mediaTypes
	return r
}

// Optional. If specified, results will be filtered based on those containing image types. This allows multiple, comma delimited.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ImageTypes(imageTypes string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.imageTypes = &imageTypes
	return r
}

// Optional. Specify one or more sort orders, comma delimeted. Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating, DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName, Random, Revenue, Runtime
func (r LiveTvServiceAPIGetLivetvChannelsRequest) SortBy(sortBy string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.sortBy = &sortBy
	return r
}

// Optional filter by items that are played, or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsPlayed(isPlayed bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isPlayed = &isPlayed
	return r
}

// Optional. If specified, results will be filtered based on genre. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Genres(genres string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.genres = &genres
	return r
}

// Optional. If specified, results will be filtered based on OfficialRating. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) OfficialRatings(officialRatings string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.officialRatings = &officialRatings
	return r
}

// Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Tags(tags string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.tags = &tags
	return r
}

// Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ExcludeTags(excludeTags string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.excludeTags = &excludeTags
	return r
}

// Optional. If specified, results will be filtered based on production year. This allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Years(years string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.years = &years
	return r
}

// Optional, include image information in output
func (r LiveTvServiceAPIGetLivetvChannelsRequest) EnableImages(enableImages bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.enableImages = &enableImages
	return r
}

// Optional, include user data
func (r LiveTvServiceAPIGetLivetvChannelsRequest) EnableUserData(enableUserData bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.enableUserData = &enableUserData
	return r
}

// Optional, the max number of images to return, per image type
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ImageTypeLimit(imageTypeLimit int32) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.imageTypeLimit = &imageTypeLimit
	return r
}

// Optional. The image types to include in the output.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) EnableImageTypes(enableImageTypes string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.enableImageTypes = &enableImageTypes
	return r
}

// Optional. If specified, results will be filtered to include only those containing the specified person.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Person(person string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.person = &person
	return r
}

// Optional. If specified, results will be filtered to include only those containing the specified person.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) PersonIds(personIds string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.personIds = &personIds
	return r
}

// Optional. If specified, along with Person, results will be filtered to include only those containing the specified person and PersonType. Allows multiple, comma-delimited
func (r LiveTvServiceAPIGetLivetvChannelsRequest) PersonTypes(personTypes string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.personTypes = &personTypes
	return r
}

// Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Studios(studios string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.studios = &studios
	return r
}

// Optional. If specified, results will be filtered based on studio. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) StudioIds(studioIds string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.studioIds = &studioIds
	return r
}

// Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Artists(artists string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.artists = &artists
	return r
}

// Optional. If specified, results will be filtered based on artist. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ArtistIds(artistIds string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.artistIds = &artistIds
	return r
}

// Optional. If specified, results will be filtered based on album. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Albums(albums string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.albums = &albums
	return r
}

// Optional. If specific items are needed, specify a list of item id&#39;s to retrieve. This allows multiple, comma delimited.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Ids(ids string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.ids = &ids
	return r
}

// Optional filter by VideoType (videofile, dvd, bluray, iso). Allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) VideoTypes(videoTypes string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.videoTypes = &videoTypes
	return r
}

// Optional filter by Container. Allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Containers(containers string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.containers = &containers
	return r
}

// Optional filter by AudioCodec. Allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) AudioCodecs(audioCodecs string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.audioCodecs = &audioCodecs
	return r
}

// Optional filter by AudioLayout. Allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) AudioLayouts(audioLayouts string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.audioLayouts = &audioLayouts
	return r
}

// Optional filter by VideoCodec. Allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) VideoCodecs(videoCodecs string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.videoCodecs = &videoCodecs
	return r
}

// Optional filter by ExtendedVideoType. Allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ExtendedVideoTypes(extendedVideoTypes string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.extendedVideoTypes = &extendedVideoTypes
	return r
}

// Optional filter by SubtitleCodec. Allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) SubtitleCodecs(subtitleCodecs string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.subtitleCodecs = &subtitleCodecs
	return r
}

// Optional filter by Path.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Path(path string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.path = &path
	return r
}

// User Id
func (r LiveTvServiceAPIGetLivetvChannelsRequest) UserId(userId string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.userId = &userId
	return r
}

// Optional filter by minimum official rating (PG, PG-13, TV-MA, etc).
func (r LiveTvServiceAPIGetLivetvChannelsRequest) MinOfficialRating(minOfficialRating string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.minOfficialRating = &minOfficialRating
	return r
}

// Optional filter by items that are locked.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsLocked(isLocked bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isLocked = &isLocked
	return r
}

// Optional filter by items that are placeholders
func (r LiveTvServiceAPIGetLivetvChannelsRequest) IsPlaceHolder(isPlaceHolder bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.isPlaceHolder = &isPlaceHolder
	return r
}

// Optional filter by items that have official ratings
func (r LiveTvServiceAPIGetLivetvChannelsRequest) HasOfficialRating(hasOfficialRating bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.hasOfficialRating = &hasOfficialRating
	return r
}

// Whether or not to hide items behind their boxsets.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) GroupItemsIntoCollections(groupItemsIntoCollections bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.groupItemsIntoCollections = &groupItemsIntoCollections
	return r
}

// Optional filter by items that are 3D, or not.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) Is3D(is3D bool) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.is3D = &is3D
	return r
}

// Optional filter by Series Status. Allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) SeriesStatus(seriesStatus string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.seriesStatus = &seriesStatus
	return r
}

// Optional filter by items whose name is sorted equally or greater than a given input string.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) NameStartsWithOrGreater(nameStartsWithOrGreater string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.nameStartsWithOrGreater = &nameStartsWithOrGreater
	return r
}

// Optional filter by items whose name is sorted equally or greater than a given input string.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) ArtistStartsWithOrGreater(artistStartsWithOrGreater string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.artistStartsWithOrGreater = &artistStartsWithOrGreater
	return r
}

// Optional filter by items whose name is sorted equally or greater than a given input string.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) AlbumArtistStartsWithOrGreater(albumArtistStartsWithOrGreater string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.albumArtistStartsWithOrGreater = &albumArtistStartsWithOrGreater
	return r
}

// Optional filter by items whose name is sorted equally than a given input string.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) NameStartsWith(nameStartsWith string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.nameStartsWith = &nameStartsWith
	return r
}

// Optional filter by items whose name is equally or lesser than a given input string.
func (r LiveTvServiceAPIGetLivetvChannelsRequest) NameLessThan(nameLessThan string) LiveTvServiceAPIGetLivetvChannelsRequest {
	r.nameLessThan = &nameLessThan
	return r
}

func (r LiveTvServiceAPIGetLivetvChannelsRequest) Execute() (*ModelQueryResultBaseItemDto, *http.Response, error) {
	return r.ApiService.GetLivetvChannelsExecute(r)
}

/*
GetLivetvChannels Gets available live tv channels.

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return LiveTvServiceAPIGetLivetvChannelsRequest
*/
func (a *LiveTvServiceAPIService) GetLivetvChannels(ctx context.Context) LiveTvServiceAPIGetLivetvChannelsRequest {
	return LiveTvServiceAPIGetLivetvChannelsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModelQueryResultBaseItemDto
func (a *LiveTvServiceAPIService) GetLivetvChannelsExecute(r LiveTvServiceAPIGetLivetvChannelsRequest) (*ModelQueryResultBaseItemDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelQueryResultBaseItemDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.GetLivetvChannels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/Channels"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Type", r.type_, "")
	}
	if r.isLiked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsLiked", r.isLiked, "")
	}
	if r.isDisliked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsDisliked", r.isDisliked, "")
	}
	if r.enableFavoriteSorting != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableFavoriteSorting", r.enableFavoriteSorting, "")
	}
	if r.addCurrentProgram != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AddCurrentProgram", r.addCurrentProgram, "")
	}
	if r.artistType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ArtistType", r.artistType, "")
	}
	if r.maxOfficialRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxOfficialRating", r.maxOfficialRating, "")
	}
	if r.hasThemeSong != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasThemeSong", r.hasThemeSong, "")
	}
	if r.hasThemeVideo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasThemeVideo", r.hasThemeVideo, "")
	}
	if r.hasSubtitles != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasSubtitles", r.hasSubtitles, "")
	}
	if r.hasSpecialFeature != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasSpecialFeature", r.hasSpecialFeature, "")
	}
	if r.hasTrailer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasTrailer", r.hasTrailer, "")
	}
	if r.adjacentTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AdjacentTo", r.adjacentTo, "")
	}
	if r.minIndexNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinIndexNumber", r.minIndexNumber, "")
	}
	if r.minStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinStartDate", r.minStartDate, "")
	}
	if r.maxStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxStartDate", r.maxStartDate, "")
	}
	if r.minEndDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinEndDate", r.minEndDate, "")
	}
	if r.maxEndDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxEndDate", r.maxEndDate, "")
	}
	if r.minPlayers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinPlayers", r.minPlayers, "")
	}
	if r.maxPlayers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxPlayers", r.maxPlayers, "")
	}
	if r.parentIndexNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ParentIndexNumber", r.parentIndexNumber, "")
	}
	if r.hasParentalRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasParentalRating", r.hasParentalRating, "")
	}
	if r.isHD != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsHD", r.isHD, "")
	}
	if r.isUnaired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsUnaired", r.isUnaired, "")
	}
	if r.minCommunityRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinCommunityRating", r.minCommunityRating, "")
	}
	if r.minCriticRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinCriticRating", r.minCriticRating, "")
	}
	if r.airedDuringSeason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AiredDuringSeason", r.airedDuringSeason, "")
	}
	if r.minPremiereDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinPremiereDate", r.minPremiereDate, "")
	}
	if r.minDateLastSaved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinDateLastSaved", r.minDateLastSaved, "")
	}
	if r.minDateLastSavedForUser != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinDateLastSavedForUser", r.minDateLastSavedForUser, "")
	}
	if r.maxPremiereDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MaxPremiereDate", r.maxPremiereDate, "")
	}
	if r.hasOverview != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasOverview", r.hasOverview, "")
	}
	if r.hasImdbId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasImdbId", r.hasImdbId, "")
	}
	if r.hasTmdbId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasTmdbId", r.hasTmdbId, "")
	}
	if r.hasTvdbId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasTvdbId", r.hasTvdbId, "")
	}
	if r.excludeItemIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExcludeItemIds", r.excludeItemIds, "")
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "StartIndex", r.startIndex, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Limit", r.limit, "")
	}
	if r.recursive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Recursive", r.recursive, "")
	}
	if r.searchTerm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SearchTerm", r.searchTerm, "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SortOrder", r.sortOrder, "")
	}
	if r.parentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ParentId", r.parentId, "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Fields", r.fields, "")
	}
	if r.excludeItemTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExcludeItemTypes", r.excludeItemTypes, "")
	}
	if r.includeItemTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IncludeItemTypes", r.includeItemTypes, "")
	}
	if r.anyProviderIdEquals != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AnyProviderIdEquals", r.anyProviderIdEquals, "")
	}
	if r.filters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Filters", r.filters, "")
	}
	if r.isFavorite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsFavorite", r.isFavorite, "")
	}
	if r.isMovie != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsMovie", r.isMovie, "")
	}
	if r.isSeries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsSeries", r.isSeries, "")
	}
	if r.isFolder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsFolder", r.isFolder, "")
	}
	if r.isNews != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsNews", r.isNews, "")
	}
	if r.isKids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsKids", r.isKids, "")
	}
	if r.isSports != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsSports", r.isSports, "")
	}
	if r.isNew != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsNew", r.isNew, "")
	}
	if r.isPremiere != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsPremiere", r.isPremiere, "")
	}
	if r.isNewOrPremiere != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsNewOrPremiere", r.isNewOrPremiere, "")
	}
	if r.isRepeat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsRepeat", r.isRepeat, "")
	}
	if r.projectToMedia != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ProjectToMedia", r.projectToMedia, "")
	}
	if r.mediaTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MediaTypes", r.mediaTypes, "")
	}
	if r.imageTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ImageTypes", r.imageTypes, "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SortBy", r.sortBy, "")
	}
	if r.isPlayed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsPlayed", r.isPlayed, "")
	}
	if r.genres != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Genres", r.genres, "")
	}
	if r.officialRatings != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "OfficialRatings", r.officialRatings, "")
	}
	if r.tags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Tags", r.tags, "")
	}
	if r.excludeTags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExcludeTags", r.excludeTags, "")
	}
	if r.years != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Years", r.years, "")
	}
	if r.enableImages != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImages", r.enableImages, "")
	}
	if r.enableUserData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableUserData", r.enableUserData, "")
	}
	if r.imageTypeLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ImageTypeLimit", r.imageTypeLimit, "")
	}
	if r.enableImageTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "EnableImageTypes", r.enableImageTypes, "")
	}
	if r.person != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Person", r.person, "")
	}
	if r.personIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "PersonIds", r.personIds, "")
	}
	if r.personTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "PersonTypes", r.personTypes, "")
	}
	if r.studios != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Studios", r.studios, "")
	}
	if r.studioIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "StudioIds", r.studioIds, "")
	}
	if r.artists != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Artists", r.artists, "")
	}
	if r.artistIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ArtistIds", r.artistIds, "")
	}
	if r.albums != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Albums", r.albums, "")
	}
	if r.ids != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Ids", r.ids, "")
	}
	if r.videoTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "VideoTypes", r.videoTypes, "")
	}
	if r.containers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Containers", r.containers, "")
	}
	if r.audioCodecs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AudioCodecs", r.audioCodecs, "")
	}
	if r.audioLayouts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AudioLayouts", r.audioLayouts, "")
	}
	if r.videoCodecs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "VideoCodecs", r.videoCodecs, "")
	}
	if r.extendedVideoTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ExtendedVideoTypes", r.extendedVideoTypes, "")
	}
	if r.subtitleCodecs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SubtitleCodecs", r.subtitleCodecs, "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Path", r.path, "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "UserId", r.userId, "")
	}
	if r.minOfficialRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "MinOfficialRating", r.minOfficialRating, "")
	}
	if r.isLocked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsLocked", r.isLocked, "")
	}
	if r.isPlaceHolder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "IsPlaceHolder", r.isPlaceHolder, "")
	}
	if r.hasOfficialRating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "HasOfficialRating", r.hasOfficialRating, "")
	}
	if r.groupItemsIntoCollections != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "GroupItemsIntoCollections", r.groupItemsIntoCollections, "")
	}
	if r.is3D != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "Is3D", r.is3D, "")
	}
	if r.seriesStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "SeriesStatus", r.seriesStatus, "")
	}
	if r.nameStartsWithOrGreater != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "NameStartsWithOrGreater", r.nameStartsWithOrGreater, "")
	}
	if r.artistStartsWithOrGreater != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ArtistStartsWithOrGreater", r.artistStartsWithOrGreater, "")
	}
	if r.albumArtistStartsWithOrGreater != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "AlbumArtistStartsWithOrGreater", r.albumArtistStartsWithOrGreater, "")
	}
	if r.nameStartsWith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "NameStartsWith", r.nameStartsWith, "")
	}
	if r.nameLessThan != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "NameLessThan", r.nameLessThan, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LiveTvServiceAPIGetLivetvChannelsByIdRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	id string
	userId *string
}

// Optional attach user data.
func (r LiveTvServiceAPIGetLivetvChannelsByIdRequest) UserId(userId string) LiveTvServiceAPIGetLivetvChannelsByIdRequest {
	r.userId = &userId
	return r
}

func (r LiveTvServiceAPIGetLivetvChannelsByIdRequest) Execute() (*ModelBaseItemDto, *http.Response, error) {
	return r.ApiService.GetLivetvChannelsByIdExecute(r)
}

/*
GetLivetvChannelsById Gets a live tv channel

Requires authentication as user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Channel Id
 @return LiveTvServiceAPIGetLivetvChannelsByIdRequest
*/
func (a *LiveTvServiceAPIService) GetLivetvChannelsById(ctx context.Context, id string) LiveTvServiceAPIGetLivetvChannelsByIdRequest {
	return LiveTvServiceAPIGetLivetvChannelsByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ModelBaseItemDto
func (a *LiveTvServiceAPIService) GetLivetvChannelsByIdExecute(r LiveTvServiceAPIGetLivetvChannelsByIdRequest) (*ModelBaseItemDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelBaseItemDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiveTvServiceAPIService.GetLivetvChannelsById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/LiveTv/Channels/{Id}"
	localVarPath = strings.Replace(localVarPath, "{"+"Id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "UserId", r.userId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikeyauth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("api_key", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type LiveTvServiceAPIGetLivetvChanneltagsRequest struct {
	ctx context.Context
	ApiService *LiveTvServiceAPIService
	artistType *string
	maxOfficialRating *string
	hasThemeSong *bool
	hasThemeVideo *bool
	hasSubtitles *bool
	hasSpecialFeature *bool
	hasTrailer *bool
	adjacentTo *string
	minIndexNumber *int32
	minStartDate *string
	maxStartDate *string
	minEndDate *string
	maxEndDate *string
	minPlayers *int32
	maxPlayers *int32
	parentIndexNumber *int32
	hasParentalRating *bool
	isHD *bool
	isUnaired *bool
	minCommunityRating *float64
	minCriticRating *float64
	airedDuringSeason *int32
	minPremiereDate *string
	minDateLastSaved *string
	minDateLastSavedForUser *string
	maxPremiereDate *string
	hasOverview *bool
	hasImdbId *bool
	hasTmdbId *bool
	hasTvdbId *bool
	excludeItemIds *string
	startIndex *int32
	limit *int32
	recursive *bool
	searchTerm *string
	sortOrder *string
	parentId *string
	fields *string
	excludeItemTypes *string
	includeItemTypes *string
	anyProviderIdEquals *string
	filters *string
	isFavorite *bool
	isMovie *bool
	isSeries *bool
	isFolder *bool
	isNews *bool
	isKids *bool
	isSports *bool
	isNew *bool
	isPremiere *bool
	isNewOrPremiere *bool
	isRepeat *bool
	projectToMedia *bool
	mediaTypes *string
	imageTypes *string
	sortBy *string
	isPlayed *bool
	genres *string
	officialRatings *string
	tags *string
	excludeTags *string
	years *string
	enableImages *bool
	enableUserData *bool
	imageTypeLimit *int32
	enableImageTypes *string
	person *string
	personIds *string
	personTypes *string
	studios *string
	studioIds *string
	artists *string
	artistIds *string
	albums *string
	ids *string
	videoTypes *string
	containers *string
	audioCodecs *string
	audioLayouts *string
	videoCodecs *string
	extendedVideoTypes *string
	subtitleCodecs *string
	path *string
	userId *string
	minOfficialRating *string
	isLocked *bool
	isPlaceHolder *bool
	hasOfficialRating *bool
	groupItemsIntoCollections *bool
	is3D *bool
	seriesStatus *string
	nameStartsWithOrGreater *string
	artistStartsWithOrGreater *string
	albumArtistStartsWithOrGreater *string
	nameStartsWith *string
	nameLessThan *string
}

// Artist or AlbumArtist
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) ArtistType(artistType string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.artistType = &artistType
	return r
}

// Optional filter by maximum official rating (PG, PG-13, TV-MA, etc).
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MaxOfficialRating(maxOfficialRating string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.maxOfficialRating = &maxOfficialRating
	return r
}

// Optional filter by items with theme songs.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasThemeSong(hasThemeSong bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasThemeSong = &hasThemeSong
	return r
}

// Optional filter by items with theme videos.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasThemeVideo(hasThemeVideo bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasThemeVideo = &hasThemeVideo
	return r
}

// Optional filter by items with subtitles.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasSubtitles(hasSubtitles bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasSubtitles = &hasSubtitles
	return r
}

// Optional filter by items with special features.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasSpecialFeature(hasSpecialFeature bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasSpecialFeature = &hasSpecialFeature
	return r
}

// Optional filter by items with trailers.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasTrailer(hasTrailer bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasTrailer = &hasTrailer
	return r
}

// Optional. Return items that are siblings of a supplied item.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) AdjacentTo(adjacentTo string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.adjacentTo = &adjacentTo
	return r
}

// Optional filter by minimum index number.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MinIndexNumber(minIndexNumber int32) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.minIndexNumber = &minIndexNumber
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MinStartDate(minStartDate string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.minStartDate = &minStartDate
	return r
}

// Optional. The maximum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MaxStartDate(maxStartDate string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.maxStartDate = &maxStartDate
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MinEndDate(minEndDate string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.minEndDate = &minEndDate
	return r
}

// Optional. The maximum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MaxEndDate(maxEndDate string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.maxEndDate = &maxEndDate
	return r
}

// Optional filter by minimum number of game players.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MinPlayers(minPlayers int32) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.minPlayers = &minPlayers
	return r
}

// Optional filter by maximum number of game players.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MaxPlayers(maxPlayers int32) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.maxPlayers = &maxPlayers
	return r
}

// Optional filter by parent index number.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) ParentIndexNumber(parentIndexNumber int32) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.parentIndexNumber = &parentIndexNumber
	return r
}

// Optional filter by items that have or do not have a parental rating
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasParentalRating(hasParentalRating bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasParentalRating = &hasParentalRating
	return r
}

// Optional filter by items that are HD or not.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsHD(isHD bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isHD = &isHD
	return r
}

// Optional filter by items that are unaired episodes or not.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsUnaired(isUnaired bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isUnaired = &isUnaired
	return r
}

// Optional filter by minimum community rating.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MinCommunityRating(minCommunityRating float64) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.minCommunityRating = &minCommunityRating
	return r
}

// Optional filter by minimum critic rating.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MinCriticRating(minCriticRating float64) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.minCriticRating = &minCriticRating
	return r
}

// Gets all episodes that aired during a season, including specials.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) AiredDuringSeason(airedDuringSeason int32) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.airedDuringSeason = &airedDuringSeason
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MinPremiereDate(minPremiereDate string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.minPremiereDate = &minPremiereDate
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MinDateLastSaved(minDateLastSaved string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.minDateLastSaved = &minDateLastSaved
	return r
}

// Optional. The minimum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MinDateLastSavedForUser(minDateLastSavedForUser string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.minDateLastSavedForUser = &minDateLastSavedForUser
	return r
}

// Optional. The maximum premiere date. Format &#x3D; ISO
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MaxPremiereDate(maxPremiereDate string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.maxPremiereDate = &maxPremiereDate
	return r
}

// Optional filter by items that have an overview or not.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasOverview(hasOverview bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasOverview = &hasOverview
	return r
}

// Optional filter by items that have an imdb id or not.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasImdbId(hasImdbId bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasImdbId = &hasImdbId
	return r
}

// Optional filter by items that have a tmdb id or not.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasTmdbId(hasTmdbId bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasTmdbId = &hasTmdbId
	return r
}

// Optional filter by items that have a tvdb id or not.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) HasTvdbId(hasTvdbId bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.hasTvdbId = &hasTvdbId
	return r
}

// Optional. If specified, results will be filtered by exxcluding item ids. This allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) ExcludeItemIds(excludeItemIds string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.excludeItemIds = &excludeItemIds
	return r
}

// Optional. The record index to start at. All items with a lower index will be dropped from the results.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) StartIndex(startIndex int32) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.startIndex = &startIndex
	return r
}

// Optional. The maximum number of records to return
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) Limit(limit int32) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.limit = &limit
	return r
}

// When searching within folders, this determines whether or not the search will be recursive. true/false
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) Recursive(recursive bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.recursive = &recursive
	return r
}

// Enter a search term to perform a search request
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) SearchTerm(searchTerm string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.searchTerm = &searchTerm
	return r
}

// Sort Order - Ascending,Descending
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) SortOrder(sortOrder string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.sortOrder = &sortOrder
	return r
}

// Specify this to localize the search to a specific item or folder. Omit to use the root
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) ParentId(parentId string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.parentId = &parentId
	return r
}

// Optional. Specify additional fields of information to return in the output. This allows multiple, comma delimeted. Options: Budget, Chapters, DateCreated, Genres, HomePageUrl, IndexOptions, MediaStreams, Overview, ParentId, Path, People, ProviderIds, PrimaryImageAspectRatio, Revenue, SortName, Studios, Taglines
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) Fields(fields string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.fields = &fields
	return r
}

// Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) ExcludeItemTypes(excludeItemTypes string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.excludeItemTypes = &excludeItemTypes
	return r
}

// Optional. If specified, results will be filtered based on item type. This allows multiple, comma delimeted.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IncludeItemTypes(includeItemTypes string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.includeItemTypes = &includeItemTypes
	return r
}

// Optional. If specified, result will be filtered to contain only items which match at least one of the specified IDs. Each provider ID must be in the form &#39;prov.id&#39;, e.g. &#39;imdb.tt123456&#39;. This allows multiple, comma delimeted value pairs.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) AnyProviderIdEquals(anyProviderIdEquals string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.anyProviderIdEquals = &anyProviderIdEquals
	return r
}

// Optional. Specify additional filters to apply. This allows multiple, comma delimeted. Options: IsFolder, IsNotFolder, IsUnplayed, IsPlayed, IsFavorite, IsResumable, Likes, Dislikes
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) Filters(filters string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.filters = &filters
	return r
}

// Optional filter by items that are marked as favorite, or not.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsFavorite(isFavorite bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isFavorite = &isFavorite
	return r
}

// Optional filter for movies.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsMovie(isMovie bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isMovie = &isMovie
	return r
}

// Optional filter for series.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsSeries(isSeries bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isSeries = &isSeries
	return r
}

// Optional filter for folders.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsFolder(isFolder bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isFolder = &isFolder
	return r
}

// Optional filter for news.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsNews(isNews bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isNews = &isNews
	return r
}

// Optional filter for kids.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsKids(isKids bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isKids = &isKids
	return r
}

// Optional filter for sports.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsSports(isSports bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isSports = &isSports
	return r
}

// Optional filter for IsNew.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsNew(isNew bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isNew = &isNew
	return r
}

// Optional filter for IsPremiere.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsPremiere(isPremiere bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isPremiere = &isPremiere
	return r
}

// Optional filter for IsNewOrPremiere.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsNewOrPremiere(isNewOrPremiere bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isNewOrPremiere = &isNewOrPremiere
	return r
}

// Optional filter for IsRepeat.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsRepeat(isRepeat bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isRepeat = &isRepeat
	return r
}

// ProjectToMedia
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) ProjectToMedia(projectToMedia bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.projectToMedia = &projectToMedia
	return r
}

// Optional filter by MediaType. Allows multiple, comma delimited.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) MediaTypes(mediaTypes string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.mediaTypes = &mediaTypes
	return r
}

// Optional. If specified, results will be filtered based on those containing image types. This allows multiple, comma delimited.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) ImageTypes(imageTypes string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.imageTypes = &imageTypes
	return r
}

// Optional. Specify one or more sort orders, comma delimeted. Options: Album, AlbumArtist, Artist, Budget, CommunityRating, CriticRating, DateCreated, DatePlayed, PlayCount, PremiereDate, ProductionYear, SortName, Random, Revenue, Runtime
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) SortBy(sortBy string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.sortBy = &sortBy
	return r
}

// Optional filter by items that are played, or not.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) IsPlayed(isPlayed bool) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.isPlayed = &isPlayed
	return r
}

// Optional. If specified, results will be filtered based on genre. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) Genres(genres string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.genres = &genres
	return r
}

// Optional. If specified, results will be filtered based on OfficialRating. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) OfficialRatings(officialRatings string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.officialRatings = &officialRatings
	return r
}

// Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) Tags(tags string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.tags = &tags
	return r
}

// Optional. If specified, results will be filtered based on tag. This allows multiple, pipe delimeted.
func (r LiveTvServiceAPIGetLivetvChanneltagsRequest) ExcludeTags(excludeTags string) LiveTvServiceAPIGetLivetvChanneltagsRequest {
	r.excludeTags = &excludeTags
	return r
}

[...]
